<h1>Admin >> Dashboard</h1>

<section class="admin-products-index">

<div class="well">
<h3>All Products & Categories</h3>
</div>

<h3>Total number of products: <%= @product_count %></h3>
<h3>Total number of categories: <%= @category_count %></h3>

</section>
