<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h3>Thank you for your order!</h3>
  </div>

  <div>
    <h3>Order Summary for <%= @email %>:</h3>
    <%= render 'order', enhanced_cart: @order.line_items %>
  </div>
  
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>

